body {
    margin: 0;
    padding: 0;
}

.signup-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

fieldset p a {
    color: rgb(35, 79, 252);
}

fieldset p a:hover {
    text-decoration: underline;
}

fieldset {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    height: 500px;
    border-color: transparent;
    border-radius: 15px;
    color: #f8eeec ;
    font-weight: bold;
}


.right {
    float: right;
    width: 400px;
    height: 500px;
}

.left {
    margin: -50px 50px;
    padding: 100px 0 ;
    float: left;
    width: 500px;
    height: 400px;
    color: #f8eeec ;
}

.left ul {
    list-style-position: outside;
    background-color: hotpink;
}

.signup-list {
    display: flex;
    align-content: center;
    padding-top: 5px;
    text-indent: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight:lighter;
}

.signup-list::before {
    content: '';
    display: inline;
    background-image: url(/images/astronomy_camera_education_observatory_stars_icon.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    padding-right: 15px;
}

.signup-bullets {
    width: 200px;
}

.signup-headline {
    font-size: 38px;
    text-align: left;
    margin-bottom: 10px;
}

.form-h2 {
    font-size: 30px;
    margin: 30px 40px;
}

h2 {
    padding-bottom: 10px;
    font-size: 22px;
    margin: 0;
}

p {
    text-align: right;
    margin-right: 30px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.information input {
    background-color: #f8eeec;
    opacity: .2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.information input:focus {
    cursor: text;
}

.information input::placeholder {
    color: #121212;
    opacity: .6;
    font-weight: bold;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

form button {
    width: 110px;
    height: 40px;
    background-color: rgb(19, 59, 221);
    margin-top: 20px;
    border-radius: 12px;
    color: #f8eeec;
    border-color: transparent;
}

@media (max-width: 956px) {
    .right {
        padding: 0;
    }
}


@media (max-width: 815px) {
    .signup-headline {
        font-size: 30px;
        text-align: left;
        margin-bottom: 10px;
    }

    .form-h2 {
        font-size: 24px;
        margin: 30px 40px;
    }

    h2 {
        padding-bottom: 10px;
        font-size: 22px;
        margin: 0;
    }
}

@media (max-width: 798px) {
    .right {
        width: 300px;
        height: 400px;
    }

    .information input {
        width: 170px;
    }

    p {
        margin-right: 15px;
    }
}

@media (max-width: 780px) {



    .signup-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 140px;
    }

    .form-headline {
        font-size: 28px;
        text-align: left;
        margin-bottom: 10px;
    }

    .signup-headline {
        /* background-color: hotpink; */
        margin-top: 100px;
    }

    .signup-headline, .signup-h2 {
        text-align: center;
    }

    h2 {
        margin: 30px 10px;
        padding-bottom: 10px;
        font-size: 18px;
        margin: 0;
    }

    p {
        margin-right: 25px;
    }
}

@media (max-width: 744px) {

    .signup-container {
        margin-top: 25px;
        padding-top: 190px;
    }

    .signup-headline {
        /* background-color: hotpink; */
        margin-top: 50px;
    }

    fieldset {
        border-width: 2px;
        width: 300px;
    }

   .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }


  form button {
        width: 100px;
        height: 40px;
        margin: 20px 0;
        border-radius: 12px;
    }

}

@media (max-width: 493px) {
    .signup-headline {
        width: 400px;
        font-size: 24px;
        margin-left: 50px;
    }

    h2 {
        width: 300px;
        margin-left: 100px;
    }
}

@media (max-width: 400px) {

    fieldset {
        width: 227px;
   }

   .headline-container {
    display: none;
   }

   p {
    margin-right: 10px;
   }



}
