body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

fieldset p a {
    color: rgb(69, 2, 137);
}

fieldset p a:hover {
    text-decoration: underline;
}

fieldset {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    border-color: transparent;
    border-radius: 15px;
    color: white;
}


.right {
    float: right;
    width: 400px;
    height: 500px;
}


img {
    margin-top: 100px;
    margin-right: 50px;
    float: left;
    width: 400px;
    height: 400px;
}

h2 {
    font-size: 30px;
    margin: 20px 30px;
}

p {
    text-align: right;
    margin-right: 30px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.information input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.information input::placeholder {
    color: black;
    opacity: .5;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

form button {
    width: 110px;
    height: 40px;
    background-color: rgb(69, 2, 137);
    margin-top: 20px;
    border-radius: 12px;
    color: white;
    border-color: transparent;
}

@media (max-width: 956px) {
    .right {
        padding: 0;
    }

    img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 895px) {
    img {
        margin-right: 0;
    }
}

@media (max-width: 798px) {
    .right {
        width: 300px;
        height: 400px;
    }


    img {
        width: 300px;
        height: 300px;
        background-size: cover;
    }

    .information input {
        width: 170px;
    }
}

@media (max-width: 735px) {

    .form-container {
        margin-top: 60px;
    }

    fieldset {
        border-width: 2px;
        width: 300px;
    }

   .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

  img {
        display: none;
    }

  form button {
        width: 100px;
        height: 40px;
        margin: 20px 0;
        border-radius: 12px;
    }

}

@media (max-width: 400px) {
    fieldset {
        width: 227px;
   }


}
