body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}


fieldset {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    border-color: transparent;
    border-radius: 15px;
    color: white;
}


.right {
    float: right;
    width: 400px;
    height: 500px;
    margin: 50px 100px;
}


.left {
    margin-top: 100px;
    float: left;
    width: 400px;
    height: 400px;
    background: url(/images/pngtree-astronaut-using-telescope-in-outer-space-for-star-gazing-and-exploration-png-image_13146210-removebg-preview.png) no-repeat;
    background-size: cover;
}

h2 {
    font-size: 30px;
    margin: 10px;
}

p {
    text-align: right;
    margin-right: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.information input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.information input::placeholder {
    color: black;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

form button {
    width: 90px;
    height: 40px;
    background-color: blueviolet;
    margin: 10px 0 0;
    border-radius: 12px;
    color: white;
    border-color: transparent;
}

@media (max-width: 798px) {
    .right {
        width: 300px;
        height: 400px;
    }


    .left {
        width: 300px;
        height: 300px;
        background-size: cover;
    }
}

@media (max-width: 600px) {

    fieldset {
        border-width: 2px;
        width: 300px;
    }

   .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

  .left {
        display: none;
    }

  .information input {
        width: 170px;
    }

  form button {
        width: 70px;
        height: 30px;
        margin: 20px 0;
        border-radius: 12px;
    }

    .right {
    margin-top: 100px;
   }
}

@media (max-width: 400px) {
    fieldset {
        width: 227px;
   }

   .right {
    margin-top: 100px;
   }

}
