body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.gallery-headline {
    padding-top: 130px;
}

.astro {
    margin-bottom: 50px;
}

.grid-container {
    flex-grow: 1;
    padding:  20px 0 100px 0;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    width: 75%;
}

.photo-card {
    border-radius: 25px;
    height: 250px;
    width: 350px;
    margin-top: 50px;
    text-align: center;
    color: #f8eeec;
}

.grid-container img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

@media (max-width: 960px) {
   .grid-container a {
        margin-bottom: 80px;
        /* background-color: blue; */
    }
}

@media (max-width: 590px) {

    .gallery-headline {
        font-size: 36px;
    }

    .photo-card {
        height: 150px;
        width: 250px;
    }

}
