body {
    overflow: hidden;
    height: 250vh;
}

h1 {
    padding: 100px 0 50px;
}

.gallery-container {
    justify-items: center;
    height: 100%;
    width: 100%;
}

.grid-container {
    padding-bottom: 60px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    width: 75%;
    background-color: purple;
}

.photo-card {
    border-radius: 10px;
    height: 250px;
    width: 350px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

@media (max-width: 1446px) {
    body {
        overflow: scroll;
    }
}

@media (max-width: 1418px) {

    /* .photo-card {
        height: 150px;
        width: 250px;
    } */
}
