body {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.resources-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 80px 0 150px;
    position: relative;
}

h1 {
    padding-top: 150px;
}

.links-container {
    display: flex;
    height: auto;
    width: auto;
}

.links-container ul {
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 90px;
    z-index: 10;
    position: relative;
}

.links-container a {
    color: #f8eeec;
    font-size: 16px;
    margin-right: 10px;
}

.links-container a:visited {
    color: rgb(68, 248, 22);
}

.links-container a:hover {
    color: rgb(210, 71, 140);
}

.resources-links {
    display: flex;
    align-items:center;
}

.resources-links::before {
    content: '';
    background-image: url(/icons/saturn.png);
    background-repeat: no-repeat;
    background-size: 36px;
    width: 48px;
    height: 36px;
    padding-right: 15px;
}

.image-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.window {
    text-align: center;
    left: 140px;
    height: 500px;
    position: relative;
    width: 100%;
}

.astronaut {
    right: 390px;
    position: relative;
    z-index: 2;
    width: 35%;
}

@media (max-width: 1348px) {
    .resources-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-right: 50px;
    }

    .links-container {
        margin: 50px 0 10px;
    }

    .links-container li {
        margin: 0 10px;
    }
}

@media (max-width: 890px) {

    .links-container ul {
        padding: 100px 25px;
        margin: 0 10px 0 2px;
        width: 100%;
        top: 0px;
        left: 0;
        text-align: left;
        background-color: transparent;
    }

    .links-container li {
        margin: 0 20px 0 0;
    }

    .resources-links::before {
        background-size: 24px;
        width: 24px;
        height: 24px;
        margin: 0 10px 10px 20px;
    }

    .image-container {
        width: 650px;
    }

    .window {
        left: 140px;
        height: 400px;
        position: relative;
        width: 100%;
    }

    .astronaut {
        right: 290px;
        position: relative;
        z-index: 2;
        width: 35%;
    }

}

@media (max-width: 535px) {

    .resources-container {
        margin: 0 0 30px;
    }

    h1 {
        font-size: 36px;
    }

    .links-container ul {
        padding: 100px 40px ;
        margin: 0;
        width: 100%;
        top: 0;
        left: 0;
        text-align: left;
        background-color: transparent;
    }

    .links-container a {
        width: 50%;
        text-indent: 0;
        font-size: 14px;
        font-weight: bold;
        padding: 0;
    }

    .links-container li {
        padding: 4px;
    }

    .resources-links::before {
        background-size: 22px;
        width: 22px;
        height: 22px;
        margin: 0 10px 5px 20px;
    }

    .image-container {
        margin-top: 30px;
    }
}

@media (max-width: 489px) {
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 24px;
    }

    .links-container {
        margin-bottom: 230px;
        background-color: transparent;
        border: none;
    }

    .links-container ul {
        margin-left: 20px;
        padding: 0 0 20px;
    }

    .image-container {
        display: none;
    }
}
