body {
    /* overflow: hidden; */
    height: 100vh;
    width: 100%;
    background-color: pink;
}

main {
    height: 100%;
    padding-top: 100px;
}

h1 {
    padding-top: 50px;
}

.container {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.links {
    width: 500px;
    height: 500px;
    /* background-color: blue; */
}

.image-container {
    /* position: fixed; */
}

.left {
    position: absolute;
    height: 500px;
    left: 900px;
    top: 250px;
    border-radius: 200px;
}

.right {
    z-index: 1;
    position: absolute;
    height: 500px;
    top: 250px;
    left: 1120px;
}
