body {
    margin: 0;
    padding: 0;
}

.signup-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    margin-bottom: 200px;
}

fieldset p a {
    color: rgb(101, 103, 249);
}

fieldset p a:hover {
    text-decoration: underline;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    height: 600px;
    border-color: transparent;
    border-radius: 15px;
    color: #f8eeec ;
    font-weight: bold;
}


.right {
    float: right;
    width: 400px;
    height: auto;
}

.left {
    margin: -100px 50px;
    padding: 100px 0 70px;
    float: left;
    width: 500px;
    color: #f8eeec;
}

.left ul {
    list-style-position: outside;
}

.signup-list {
    display: flex;
    align-content: center;
    padding-top: 15px;
    text-indent: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: normal;
}

.signup-list::before {
    content: '';
    display: inline;
    background-image: url(/icons/rocket.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    padding-right: 25px;
}

.signup-bullets {
    width: 200px;
}

.signup-headline {
    font-size: 38px;
    text-align: left;
    margin-bottom: 10px;
}

.form-h2 {
    font-size: 30px;
    margin: 30px 40px 15px;
}

h2 {
    padding-bottom: 10px;
    font-size: 22px;
    margin: 0;
}

p {
    text-align: right;
    margin-right: 30px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 25px;
}

.info {
    font-size: 12px;
    background-color: #f8eeec;
    opacity: .5;
    display: flex;
    flex-direction: column;
    padding: 10px 50px 10px 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.info:focus {
    cursor: text;
    outline: none;
}

.info::placeholder {
    opacity: .7;
    color: black;
    font-weight: bold;
    font-family: Poppins Reg;
    letter-spacing: 1px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container p {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 5px;
}

.signup-checkbox {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.signup-checkbox label {
    font-size: 14px;
    padding: 0 10px 0 5px;
}

input[type="checkbox"] {
    border: 3px solid rgb(30, 30, 236);
    width: 1.55em;
    height: 1.55em;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}

input[type="checkbox"]:checked {
    background: rgb(37, 37, 251) content-box;
    border-color: rgb(73, 73, 255);
}

#question {
    height: 100px;
    width: auto;
}


button {
    font-size: 18px;
    max-width: 100%;
    min-width: 100px;
    height: 40px;
    padding: 3px;
    margin: 20px 0 30px;
    background-image: linear-gradient(144deg, #01004e,#0020c2,#4169e1);
    border: 0;
    border-radius: 10px;
    color: #f8eeec;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: all 0.3s;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: rgb(5, 6, 45);
    transition: 300ms;
}

.signup-btn:hover {
    background: none;
}

button:active {
    transform: scale(0.9);
}


@media (max-width: 956px) {
    .right {
        padding: 0;
    }
}

@media (max-width: 865px) {

}


@media (max-width: 815px) {
    .signup-headline {
        font-size: 30px;
        text-align: left;
        margin-bottom: 10px;
    }

    .form-h2 {
        font-size: 24px;
        margin: 30px 40px;
    }

    h2 {
        padding-bottom: 10px;
        font-size: 22px;
        margin: 0;
    }
}

@media (max-width: 796px) {
    .right {
        width: 300px;
        height: 400px;
    }

    .information input {
        width: 170px;
    }

    p {
        margin-right: 15px;
    }

    #signup-check {
        width: 1.55em;
        height: 1.55em;
    }

}

@media (max-width: 780px) {

    form {
        width: 384px;
    }

    fieldset {
        width: 384px;
        height: 100%;
    }
    .signup-container {
        margin-top: -20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .signup-headline {
        align-content: center;
        margin-top: 160px;
        text-align: center;
    }

    .signup-h2 {
        text-align: center;
    }

    .right {
        margin-right: 100px;
        margin-bottom: 80px;
    }

    h2 {
        margin: 30px 10px;
        padding-bottom: 10px;
        font-size: 18px;
        margin: 0;
    }

    p {
        margin-right: 25px;
    }

}

@media (max-width: 744px) {

    .signup-container {
        margin-top: 6px;
    }

    .signup-headline {
        margin-top: 105px;
    }


    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 60px;
        margin-bottom: 30px;
    }

}

@media (max-width: 503px) {

    .signup-container {
        margin-top: -5px;
    }

    .signup-headline {
        font-size: 26px;
    }

    .signup-h2 {
        font-size: 16px;
    }

    .right {
        margin: 80px 0 30px;
    }

    fieldset {
        width: 300px;
    }

}

@media (max-width: 488px) {

    .signup-container {
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .headline-container {
        width: 700px;
        margin-left: 50px;
        text-align: center;
    }

    .signup-headline {
        width: 400px;
        font-size: 24px;
        padding: 0;
        text-align: center;
    }

    .signup-h2 {
        width: 300px;
        margin-left: 55px;
    }

    fieldset {
        width: 300px;
    }

}

@media (max-width: 475px) {
    .signup-container {
        margin-top: -85px;
    }
}

@media (max-width: 400px) {

    .logo {
     font-size: 20px;
    }

    .left {
        margin: 0;
    }

    .headline-container {
     display: none;
    }

    form {
        width: 230px;
    }

    fieldset {
        width: 230px;
        padding: 0 12px 0 14px;
   }

   p {
    margin-right: 10px;
   }

}
