body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    margin: 10px;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.navbar {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border-bottom: 5px #333 solid;
}

.navbar p {
    color: #333;
    font-size: 30px;
    margin: 20px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 1200px;
    height: 800px;
}

.background-image {
    width: 100vh;
}

h1 {
    margin: 0;
}
