* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

main {
    height: 100vh;
}

nav {
    height: 80px;
    width: 100%;
    background-color: blueviolet;
}

.logo {
    color: #333;
    font-size: 35px;
    line-height: 80px;
    margin: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-links {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, nav ul li a:hover {
    background-color: #333;
    transition: .5s;
}

.check-btn {
    font-size: 30px;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 960px) {
    .nav-links {
        font-size: 14px;
    }

    .logo {
        font-size: 30px;
        margin: 0 50px 0 100px;
}

}

@media (max-width: 864px) {

    .check-btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* display: block; */
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        background-color: #333;
    }

    nav ul li {
        display: block;
    }

    .nav-links {
        font-size: 17px;
        color: white;
    }

    a.active, nav ul li a:hover {
        background: none;
        color: blueviolet;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.landing {
    display: grid;
    justify-content: center;
    align-content: center;
}

h1 {
    margin: 0;
}
