body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-color: hotpink; */
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    /* padding: 10px 50px; */
    /* background-color: orange; */
}

nav a {
    margin: 10px;
    padding: 5px;
    color: #333;
    text-decoration: none;
    /* background-color: purple; */
}

.navbar {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border-bottom: 5px #333 solid;
/* background-color: blue; */
}

.navbar p {
    color: #333;
    font-size: 30px;
    margin: 20px;
}
